:root{
        --primary-color: rgb(197, 37, 56);
        --box-width: 300px;
        --box-large: 370px;
        --color-white: #EDEDED;
        --color-black: #000000;
        --color-card: #F7EFD8;
        --color-gris: rgb(53, 49, 49);
        --border-radius: 0.5rem;
        --color-ejemplo-img: #00000044;
}

*{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

body{   
    background:var(--box-width);
}

header {
    background: var(--color-card);
    min-height: 72vh;
    padding-bottom: 2rem
}

.row{
    padding: 5% 5%;

}

.grand{
    padding: 16px 16px 2.5rem 16px !important;
    
}
.animate{
    animation: bounce 1s infinite ;
}

.animate:hover{
    animation: bounce 0s infinite ;
}

.list-group-item a {
    text-decoration: none;
}

.row{
    padding-top: 2rem
}
.h-100{
    border: solid 1px !important;
    box-shadow: -2px 17px 30px -8px rgba(53,49,49,1);
    -webkit-box-shadow: -2px 17px 22px -8px rgba(53,49,49,0.55);
    -moz-box-shadow: -2px 17px 22px -8px rgba(53,49,49,0.55)!important;
    display: flex;
    align-items: center;
    
}
.card img {
    border-radius: 5% 5% 0% 0% ;
   padding-top: 30px;

    max-width: 75%;
    height: auto;
}

li{
    cursor: pointer;

}
@keyframes bounce {
    50% {
        transform: translate(0, 4px);
    }
}